.container1{
    text-align: center;
}
.content {
    background-image:url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.card,.imglist,.heading{
    
    border:1px solid black;
    width:20%;
    padding:5px;
    height: 300px;;
    border-radius: 20%;
    text-align: center;
    margin-top:5px;
    display:inline-block;
    margin-left:5px ;
    margin-bottom: 5px;
    background-color: rgb(238, 109, 109);
}
.imglist{
    width:200px;
    height:200px;
    border-radius:50%;
}
.head{
    text-align: center;
}